/********
    ナビ
*********/
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 300px;
  /* max-width: 1200px; */
  margin: 0 auto;
  background-color: rgb(244, 177, 105);
  z-index: 100;
}
.navbar-brand {
  width: 60px;
}
.navbar-brand img {
  width: 100%;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-item {
  text-align: right;
}
.nav-link {
  display: inline-flex;
  color: #000;
}
/* 枠の色 */
.navbar-toggler {
  border-color: #000;
}
/* 三本線の変更 */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
